body {
    font-size:16px;
    font-family:'Times New Roman';
}
a {
    color: #000;
    text-decoration:none;
}
small{
    font-size: 12px;
    color:#808080;
}

.space {
    margin-bottom: 40px;
}
.space20 {
    margin-bottom: 20px;
}

.title {
    margin: 40px 0 40px;
}

.p_text_lv1 {
    font-size: 1.5rem;
}
.p_text_lv2 {
    font-size: 2.0rem;
}
.p_text_lv3 {
    font-size: 2.5rem;
}
.p_text_lv4 {
    font-size: 3.0rem;
}
.p_text_lv5 {
    font-size: 5.0rem;
}

.size1 {
    font-size: 30px;
    margin-bottom:45px;
}
.size2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.size3 {
    font-size: 14px;
    margin-bottom: 30px;
}

.c_image {
    height:240px;
    width: 100%;
    background-size: cover;
    border-radius: 0px;
    background-color:aqua; //test

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
    }
}

.c_button {
    color: #fff;
    height: 48px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    padding: 0 24px;
    border-radius: 0;
    background: #000;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.p_header {
    height:100px;
    align-items:center;
    padding: 0 70px 0 70px;
    display:flex;
    justify-content:space-between;
    &_nav {
        &_icon{
            display:none;
        }
        &_list {
            display:flex;
            &_item {
                padding:0 15px;
            }
        }

    }

    &_icon {
        &_list{
            display:flex;
            &_item {
                padding: 0 15px;
                img {
                    height:25px;
                    width:auto;
                }
            }
        }

    }
}

.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    position: relative;
    transition: 0.3s;
    background-color: #FFFFFF;
}

.original-button::before, .original-button::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.original-button::before {
    top: -2px;
    left: -2px;
}

.original-button::after {
    top: 2px;
    left: 2px;
}

.original-button:hover::before, .original-button:hover::after {
    top: 0;
    left: 0;
}

//main content
.p_home {
    .mainVisual {
        height: 800px;
        width: 100%;
        background-size: cover;

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 800px;
            background: #ffffff;
            position: absolute;
            top: 100px;
            left: 0;
            opacity: 0.6;
            z-index: 1;
        }

        &_title {
            text-align: center;
            position: relative;
            top: 40%;
            z-index: 1;

            &_head {
                margin-bottom: 40px;
                letter-spacing: 0.4em;
            }

            &_body {
                margin-bottom: 40px;
                letter-spacing: 0.1em;
            }
        }
    }
}


.polyicy {
    &_area {
        display: flex;
        justify-content: space-between;

        &_item {
            height: 800px;
            width: 32%;

            &_content {
                padding: 20px;
                border: solid 1px black;
            }
        }
    }

    .item1 {
        position: relative;
        top: 0;
        left: 0;
    }

    .item2 {
        position: relative;
        top: 100px;
        left: 0;
    }

    .item3 {
        position: relative;
        top: 200px;
        left: 0;
    }
}

.campaign {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-size: cover;

    &_item {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        color:#808080;
    }

    .last {
        margin-bottom: 0;
    }
}
.menu {
    &_area {
        &_item {
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;

            &_text {
                width: 50%;
                padding: 10px;
                display: flex;
                justify-content: left;
                flex-direction: column;
            }

            &_img {
                width: 50%;
                padding: 10px;
                position: relative;

                img.img_large {
                    height: 450px;
                    position: absolute;
                    top: -250px;
                    right: 0;
                }

                img.img_small {
                    height: 250px;
                    position: absolute;
                    bottom: -250px;
                    left: 0;
                }
            }
        }
    }
}


.information {
    margin-bottom:100px;
    &_area {
        &_item {
            display: flex;
            justify-content: center;

            &_content {
                background-color: burlywood;
                border: solid 1px;
                flex: 1 1 0%;
                position:relative;
                &_text {
                    text-align:left;
                    position:absolute;
                    top:50%;
                    transform:translateY(-50%);
                    padding-left:60px;
                }
            }
        }
    }
}

.infoContent {
    width: 100%;
    background-size: cover;
    border-radius: 0px;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
    }
}

.access {
    margin-bottom:100px;
    &_area {
        &_item {
            display: flex;
            justify-content: center;

            &_content {
                text-align:center;
                border: solid 1px;
                flex: 1 1 0%;
                position: relative;

                &_text {
                    text-align: left;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding-left: 60px;
                }
            }
        }
    }
}

//footer
.p_footer {
    height: 30px;
    background-color: #000;
    display: flex;
    justify-content: center;

    &_copyright {
        padding-top: 10px;
    }
}
