@charset "utf-8";



/*slide.cssの読み込み
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url(slide.css);



/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #FFF;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #544c3d;	/*全体の背景色（古いブラウザ用）*/
	background: radial-gradient(circle 300px at 230px 0px,#a29376,#544c3d);	/*円形グラデーション。半径300px、左から230px、上から0pxの場所に配置。円の中心#a29376から#544c3dに向かったグラデーション。*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,input,select,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
video {max-width: 100%;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #FFF;	/*リンクテキストの色*/
	transition: 0.4s;	/*マウスオン時の移り変わるまでの時間設定。0.4秒。*/
}
a:hover {
	color: #fee32e;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*containerブロック
---------------------------------------------------------------------------*/
#container {
	max-width: 1300px;	/*サイトの最大幅*/
	margin: 0 auto;
	padding: 0 3%;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 140px;	/*ヘッダーの高さ*/
}
/*ロゴ画像*/
header #logo img {
	width: 400px;		/*画像の幅*/
	float: left;		/*左に回り込み*/
	margin-top: 40px;	/*上に空けるスペース。上下間のバランスをここでとって下さい。*/
}
/*電話番号ボックス*/
header #tel {
	text-align: center;	/*中身をセンタリング*/
	line-height: 1.2;	/*行間をデフォルトより少し狭くする。デフォルトは上のbodyにあります。*/
	float: right;		/*右に回り込み*/
	margin-top: 30px;	/*上に空けるスペース。上下間のバランスをここでとって下さい。*/
	border: 1px solid #9f9074;	/*枠線の幅、線種、色*/
	background: #746954;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#746954, #433d31);	/*背景グラデーション*/
	padding: 10px 40px;		/*上下、左右へのボックス内の余白*/
	letter-spacing: 0.2em;	/*文字間隔を少し広くとる*/
}

/*コンテンツ（メインメニューとmainとsubを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: both;overflow: hidden;padding-bottom: 40px;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar {
	overflow: hidden;
	background: #cbab25;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#dfd9cb, #a98f44 49%, #9c7d22 50%, #cbab25);	/*背景グラデーション*/
	border: 1px solid #9c7d22;	/*枠線の幅・線種・色*/
	border-radius: 8px;	/*角丸のサイズ*/
	text-align: center;	/*テキストをセンタリング*/
	margin-bottom: 40px;	/*下のコンテンツとの間に空けるスペース*/
	padding: 0 3%;		/*上下、左右へのブロック内の余白*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	overflow: hidden;
	float: left;		/*左に回り込み*/
	width: 16.6%;		/*メニュー幅。6個なので100÷6=16.6。5個にしたいなら20%にする。*/
	line-height: 1.6;	/*行間*/
}
#menubar li a {
	display:  block;text-decoration: none;
	font-size: 18px;	/*文字サイズ*/
	border-right: 1px solid #9c7d22;	/*右側の線の幅・線種・色*/
	padding: 10px 0;	/*上下、左右へのメニュー内の余白*/
	text-shadow: 0px -1px 1px rgba(0,0,0,0.5);	/*テキストの影。右へ、下へ(マイナスがついているので上に向かう)、広げる幅、0,0,0は黒の事で0.5は50%色が出た状態の事。*/
	color: #fff;
}
/*１つ目のメニューへの追加設定*/
#menubar li:first-child a {
	border-left: 1px solid #9c7d22;	/*左側の線の幅・線種・色*/
}
/*英語表記（飾り文字）*/
#menubar li a span {
	display: block;
	font-weight: normal;	/*太字を標準にする*/
	font-size: 10px;		/*文字サイズ*/
	padding-bottom: 8px;	/*下に余白を作る*/
}
/*マウスオン時と、現在表示中メニューの設定*/
#menubar li a:hover, #menubar li.current a {
	background: #9c7d22;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#e8dfcd, #ceb14b 49%, #c7a62b 50%, #fee32e);	/*背景グラデーション*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

/*mainコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: right;	/*右に回り込み*/
	width: 72%;		/*幅*/
}
/*１カラム時*/
.c1 #main {
	float: none;
	width: auto;
}
/*h2タグの設定*/
#main h2 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	font-size: 18px;		/*文字サイズ*/
	letter-spacing: 0.1em;	/*文字間隔*/
	padding: 10px 20px;		/*上下、左右への余白*/
	color: #544c3d;			/*文字色*/
	background: #FFF;		/*背景色（古いブラウザ用）*/
	background: linear-gradient(#FFF, #cdcdcd);	/*グラデーション*/
	border-bottom: 5px solid #9c7d22;	/*下の線の幅・線種・色*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 20px;		/*見出しの下にとるスペース*/
	padding: 4px 20px;			/*上下、左右への余白*/
	border: 1px solid #9f9074;	/*枠線の幅・線種・色*/
	background: #746954;		/*背景色（古いブラウザ用）*/
	background: linear-gradient(transparent, #433d31);	/*グラデーション。transparentは透明の事。*/
}
/*mainコンテンツのh4タグの設定*/
#main h4 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	border-bottom: 1px solid #fff;	/*下線の幅、線種、色（古いブラウザ用）*/
	border-bottom: 1px solid rgba(255,255,255,0.5);	/*下線の幅、線種、色。255,255,255は白の事で0.5は50%色がついた状態の事。*/
	padding-left: 20px;	/*左に空ける余白*/
}
/*hタグに画像を使った場合用のスタイル*/
#main .img {
	padding: 0 !important;
	border: 0 !important;
	background: none !important;
}
/*段落タグ設定*/
#main p {
	padding: 0px 20px 15px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#main p + p {
	margin-top: -5px;
}
#main h2 + p,
#main h3 + p,
#main h4 + p {
	margin-top: -10px;
}
#main section + section {
	margin-top: 40px;
}

/*ボックス（list）設定
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .list {
	position: relative;overflow: hidden;
	background: #fff;		/*背景色*/
	color: #666;			/*文字色*/
	margin-bottom: 20px;	/*ボックス同士の上下間の余白*/
	padding: 20px;			/*ボックス内の余白。ここを変更する場合は、下の「#main .list a」の「margin」と「padding」の数字も変更。*/
}
#main .list a {
	overflow: hidden;display: block;text-decoration: none;
	margin: -20px;	/*ボックス内の余白。ここを変更する場合は、上の「#main .list」の「padding」の数字も変更。※マイナスを必ずつけて下さい。*/
	padding: 20px;	/*ボックス内の余白。ここを変更する場合は、上の「#main .list」の「padding」の数字も変更。*/
	color: #666;	/*文字色*/
}
/*ボックスにリンク指定がされた場合に出る「→」マーク*/
#main .list a::before {
	position: absolute;text-align: center;
	content: "→";	/*この文字を出す。他の文字に変えても可だが機種依存文字は化けるので使わない。*/
	right: 20px;		/*ボックスの右から20pxの場所に配置*/
	bottom: 20px;		/*ボックスの下から20pxの場所に配置*/
	background: #ccc;	/*背景色*/
	color: #fff;		/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	width: 30px;		/*幅*/
	line-height: 30px;	/*高さ*/
}
/*マウスオン時の「→」マークの背景色*/
#main .list a:hover::before {
	background: #746954;
}
/*ボックス内の画像設定*/
#main .list figure {
	width: 30%;			/*画像の幅*/
	float: left;		/*左に回り込み*/
	margin-right: 20px;	/*画像の右側に空けるスペース*/
}
/*ボックス内のh4（見出し）タグ設定*/
#main .list h4 {
	clear: both;
	padding: 0;border-bottom: none;
	font-size: 24px;	/*文字サイズ*/
	color: #333;		/*文字色*/
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	margin-bottom: 10px;
}
/*ボックス内のh4（見出し）タグの１文字目への設定。左のアクセントラインです。*/
#main .list h4::first-letter {
	border-left: 3px solid #746954;	/*左の線の幅、線種、色*/
	padding-left: 10px;	/*枠線と文字との間の余白*/
}
/*ボックス内のp（段落）タグ設定*/
#main .list p {
	padding: 0;
}

/*list内のアイコン（シニア向け、ご家族向け、カップル向け）
---------------------------------------------------------------------------*/
/*アイコン全体を囲むボックス*/
ul.mark {
	margin-top: -20px;	/*ボックスの上にくっつける為の指定*/
	float: right;		/*ボックスを右側に配置する*/
}
/*アイコン１個あたりの設定*/
ul.mark li {
	line-height: 1;
	float: left;		/*左に回り込み*/
	background: #999;	/*デフォルトの背景色。グレー色。*/
	color: #fff;		/*文字色*/
	font-size: 12px;	/*文字サイズ*/
	padding: 5px 10px;	/*上下、左右へのアイコン内の余白*/
	margin-right: 5px;	/*アイコンの左右間に空けるスペース*/
	margin-bottom: 5px;	/*アイコンの上下間に空けるスペース*/
}
/*mark1（シニア向け）への追加設定*/
ul.mark .mark1 {
	background: #604781;	/*背景色*/
}
/*mark2（ご家族向け）への追加設定*/
ul.mark .mark2 {
	background: #668d22;	/*背景色*/
}
/*mark3（カップル向け）への追加設定*/
ul.mark .mark3 {
	background: #c8436f;	/*背景色*/
}
/*mark4（キャンペーン向け）への追加設定*/
ul.mark .mark4 {
	background: #e38000;	/*背景色*/
}

/*subコンテンツ
---------------------------------------------------------------------------*/
/*subブロック*/
#sub {
	float: left;	/*左に回り込み*/
	width: 24%;		/*幅*/
}
/*１カラム時*/
.c1 #sub {
	display: none;	/*非表示にする設定*/
}
/*subコンテンツ内のh2タグ設定*/
#sub h2 {
	background: #746954;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#746954, #433d31);	/*背景色*/
	border: 1px solid #9f9074;	/*枠線の幅、線種、色*/
	text-align: center;			/*文字をセンタリング*/
	padding: 10px 5px;			/*上下、左右へのボックス内の余白*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu {
	margin-bottom: 20px;	/*メニューブロックの下に空けるスペース*/
}
#sub ul.submenu li a {
	text-decoration: none;display: block;
	padding: 2px 10px;		/*上下、左右へのメニュー間の余白*/
	text-align: center;		/*文字をセンタリング*/
	border-bottom: 1px solid #9f9074;	/*下側の線の幅、線種、色*/
}
/*マウスオン時*/
#sub ul.submenu li a:hover {
	background: #433d31;	/*背景色*/
}

/*サブコンテンツ内のbox
---------------------------------------------------------------------------*/
#sub .box {
	padding: 15px;			/*ボックス内の余白*/
	margin-bottom: 20px;	/*ボックスの下に空けるスペース*/
	border: 1px solid #9f9074;	/*枠線の幅、線種、色*/
	background: #24211a;	/*背景色*/
	box-shadow: 0px 0px 30px #746954 inset;		/*内側への影。右へ・下へ・ぼかし幅・色。insetは内側への影。*/
}
/*box1内のメニューの追加設定*/
#sub .box ul.submenu {
	margin-bottom: 0px;
}

/*ご予約状況ボックス
---------------------------------------------------------------------------*/
.man span {
	color: #BE8406;	/*「■」の色*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	font-size: 85%;		/*文字サイズ*/
	background: #24211a;	/*背景色*/
	color: #fff;		/*文字色*/
	text-align: center;	/*文字をセンタリング*/
}
footer a {text-decoration: none;}
footer .pr {display: block;font-size: 80%;}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0 20px;	/*上下、左右へのボックス内の余白*/
}
/*日付設定*/
#new dt {
	float: left;	/*左に回り込み*/
	width: 9em;		/*幅*/
	letter-spacing: 0.1em;	/*文字間隔*/
}
/*記事設定*/
#new dd {
	padding-left: 9em;	/*左に空けるスペース。日付の幅の分をここで確保。*/
	border-bottom: 1px solid rgba(255,255,255,0.3);	/*下線の幅、線種、色*/
}

/*Informationページのページ内メニュー
---------------------------------------------------------------------------*/
/*メニューボックス全体の設定*/
#pagenav {
	overflow: hidden;
	margin-bottom: 20px;
	color: #fff;		/*文字色*/
	text-align: center;	/*内容をセンタリング*/
	padding: 10px;		/*ボックス内余白*/
	background: #333;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*背景色。0,0,0は黒の事で0.5は50%色がついた状態の事。*/
}
#pagenav a {
	color: #fff;	/*リンクテキストの文字色*/
}
/*メニュー１個あたりの設定*/
#pagenav li {
	display: inline-block;	/*横並びにさせる設定*/
	margin: 5px;			/*メニュー同士に空けるスペース*/
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: left;		/*文字を左寄せ*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
	background: #000;		/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*背景色。0,0,0は黒の事で、0.5は50%色が出た状態の事。*/
}
/*ta1設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px 15px;	/*ボックス内の余白*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #000;		/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*背景色。0,0,0は黒の事で、0.5は50%色が出た状態の事。*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*センタリング*/
}

/*フォーム関連
---------------------------------------------------------------------------*/
/*ボタン（btn）*/
input[type="submit"].btn,
input[type="button"].btn,
input[type="reset"].btn {
	padding: 5px 20px;		/*上下、左右へのボックス内の余白*/
	border-radius: 3px;		/*角丸のサイズ*/
	color: #666;			/*文字色*/
	background: #fff;		/*背景色（古いブラウザ用）*/
	background: linear-gradient(#fff, #eee);/*背景グラデーション*/
}
/*マウスオン時のボタン（btn）設定*/
input[type="submit"].btn:hover,
input[type="button"].btn:hover,
input[type="reset"].btn:hover {
	background: #fff;	/*背景色*/
	color: #111;		/*文字色*/
}
/*input,textarea共通*/
input,textarea {
	outline: none;background: transparent;
	border: 1px solid #fff;	/*枠線の幅、線種、色（古いブラウザ用）*/
	border: 1px solid rgba(255,255,255,0.5);	/*枠線の幅、線種、色*/
	color: #fff;			/*文字色*/
}
/*input,textareaのフォーカス時*/
input:focus,textarea:focus {
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}

/*ページの上部に戻る「↑」ボタン
---------------------------------------------------------------------------*/
@keyframes scroll {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*通常時のボタンは非表示*/
body .nav-fix-pos-pagetop a {
	display: none;
}
/*fixmenu_pagetop.jsで設定している設定値になったら出現するボタンスタイル*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 100;position: fixed;animation-name: scroll;animation-duration: 1s;animation-fill-mode: forwards;
	width: 50px;		/*ボタンの幅*/
	line-height: 50px;	/*ボタンの高さ*/
	bottom: 50px;		/*ウィンドウの下から20pxの場所に配置*/
	right: 1%;			/*ウィンドウの右から1%の場所に配置*/
	color: #333;		/*文字色*/
	border-radius: 50%;	/*角丸指定。50%にすると円形になる。四角形がいいならこの１行削除。*/
	background: #fee32e;	/*背景色*/
}
/*マウスオン時の背景色*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #fff;
}

/*checkブロック。赤い注意書きブロックです。
---------------------------------------------------------------------------*/
p.check {
	background: #ff0000;
	color:#fff;
	padding: 10px 25px !important;
	margin-bottom: 20px;
}
p.check a {color: #fff;}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #ccc;color: #333;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb30 {margin-bottom: 30px !important;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px;list-style: disc;}
.color1, .color1 a {color: #fee32e;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
img.fr {float: right;margin-left: 10px;margin-bottom: 10px;width: 30%;}
img.fl {float: left;margin-right: 10px;margin-bottom: 10px;width: 30%;}
.big1 {font-size: 24px;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}




/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: auto;
	padding: 20px 0;
}
/*ロゴ画像*/
header #logo img {
	float: none;
	margin-top: 10px;
}
/*電話番号ボックス*/
header #tel {
	float: none;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明度(opacity)0%から透明度100%にする指定。*/
@keyframes menu1 {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	position: absolute;z-index: 10;
	width: 100%;margin-left: -3%;
	top: 120px;					/*上から120pxの場所に配置*/
	border-top: 1px solid #fff;	/*上の線の幅、線種、色*/
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 15px 10px 15px 20px;	/*上、右、下、左へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: rgba(0,0,0,0.8);	/*背景色*/
	color: #fff;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
}
/*英語表記（飾り文字）*/
#menubar-s li a span {
	display: block;
	font-size: 12px;	/*文字サイズ*/
}
/*現在表示中メニューの設定*/
#menubar-s li.current a {
	color: #fee32e;
}
/*PC用メニューを非表示にする*/
#menubar {
	display: none;
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 30px;	/*上から30pxの場所に配置*/
	right: 3%;	/*右から3%の場所に配置*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: url(../images/icon_menu.png) no-repeat center top/50px;
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: url(../images/icon_menu.png) no-repeat center bottom/50px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
	overflow: hidden;
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,body.s-n #footermenu,.m-n {display: none;}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 220px;		/*画像の幅*/
	margin-top: 12px;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*スマホ用メニューブロック*/
#menubar-s {
	top: 95px;	/*上から95pxの場所に配置*/
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	top: 20px;	/*上から20pxの場所に配置*/
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
#main h2, #main h3, #main h4 {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
/*段落タグ設定*/
#main p {
	padding: 0px 10px 20px;	/*上、左右、下への余白*/
}

/*ボックス（list）設定
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .list {
	padding: 10px;	/*ボックス内の余白。ここを変更する場合は、下の「#main .list a」の「margin」と「padding」の数字も変更。*/
}
#main .list a {
	margin: -10px;	/*ボックス内の余白。ここを変更する場合は、上の「#main .list」の「padding」の数字も変更。※マイナスを必ずつけて下さい。*/
	padding: 10px;	/*ボックス内の余白。ここを変更する場合は、上の「#main .list」の「padding」の数字も変更。*/
}
/*ボックス内のh4（見出し）タグ設定*/
#main .list h4 {
	font-size: 16px;
}
/*ボックスにリンク指定がされた場合に出る「→」マーク*/
#main .list a::before {
	right: 10px;		/*ボックスの右から10pxの場所に配置*/
	bottom: 10px;		/*ボックスの下から10pxの場所に配置*/
	width: 20px;		/*幅*/
	line-height: 20px;	/*高さ*/
}

/*list内のアイコン（シニア向け、ご家族向け、カップル向け）
---------------------------------------------------------------------------*/
/*アイコン全体を囲むボックス*/
ul.mark {
	margin-top: -10px;	/*ボックスの上にくっつける為の指定*/
}
/*アイコン１個あたりの設定*/
ul.mark li {
	font-size: 10px;	/*文字サイズ*/
	padding: 2px 5px;	/*上下、左右へのアイコン内の余白*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
#sub ul.submenu li a {
	padding: 10px;		/*メニュー間の余白*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0 10px;	/*上下、左右へのボックス内の余白*/
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.big1 {font-size: 16px;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}
.sh {display:block;}
.pc {display:none;}

}
